<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="/style.css">
    <title>SIGN IN</title>
  </head>
  <body>
    <div class="container">
      <div class="login-card">
        <h1 class="title"><%= title %></h1>
        <% if (flash) { %></%>
          <p id="flash"><%= flash %></p>
        <% } %>
        <form autocomplete="off" action="/interaction/<%= uid %>/login" method="post">
          <div class="username">
            <div style="position: absolute; cursor:pointer;">
              <img class="username__icon"  src="/img/person.svg" alt="person"/>
            </div>
            <input 
            id="username"
            class="username__input" 
            required type="text" name="username" placeholder="Username"
            <% if (!params.login_hint) { %>autofocus="on"<% } else { %> value="<%= params.login_hint %>" <% } %>
            />
          </div>
          <div class="password">
            <div style="position: absolute; cursor:pointer;">
              <img class="password__icon"  src="/img/password.svg" alt="person"/>
            </div>
              <input id="password" class="password__input" required type="password" name="password" placeholder="Password" <% if (params.login_hint) { %>autofocus="on"<% } %>>
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">

          <button id="button" type="submit" class="button">Sign In</button>
        </form>
        <div class="login-help">
        <div class="signup">
          <p>Or you can sing up <u><a href="/interaction/<%= uid %>/signup">here</a></u></p>
        </div>
      </div>
    </div>
    <script src="/scripts/login.js"></script>
  </body>
</html>