<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>SIGN UP</title>
    <style>
      @import url(https://fonts.googleapis.com/css?family=Roboto:400,100);
      body {
        font-family: "Roboto", sans-serif;
        margin-top: 25px;
        margin-bottom: 25px;
      }
      .signup-card {
        padding: 40px;
        padding-top: 0px;
        padding-bottom: 10px;
        width: 274px;
        background-color: #f7f7f7;
        margin: 0 auto 10px;
        border-radius: 2px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        overflow: hidden;
      }
      .signup-card + .signup-card {
        padding-top: 10px;
      }
      .signup-card h1 {
        font-weight: 100;
        text-align: center;
        font-size: 2.3em;
      }
      .signup-card h1 + p {
        font-weight: 100;
        text-align: center;
      }
      .signup-card [type="submit"] {
        width: 100%;
        display: block;
        margin-bottom: 10px;
        position: relative;
      }
      .signup-card input[type="text"],
      input[type="email"],
      input[type="password"] {
        height: 44px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 10px;
        -webkit-appearance: none;
        background: #fff;
        border: 1px solid #d9d9d9;
        border-top: 1px solid #c0c0c0;
        padding: 0 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
      }
      .signup {
        text-align: center;
        font-size: 14px;
        font-family: "Arial", sans-serif;
        font-weight: 700;
        height: 36px;
        padding: 0 8px;
      }
      .signup-submit {
        border: 0px;
        color: #fff;
        text-shadow: 0 1px rgba(0, 0, 0, 0.1);
        background-color: #4d90fe;
      }
      .signup-card a {
        text-decoration: none;
        color: #666;
        font-weight: 400;
        text-align: center;
        display: inline-block;
        opacity: 0.6;
      }
      .signup-help {
        width: 100%;
        text-align: center;
        font-size: 12px;
      }
      .signup-client-image img {
        margin-bottom: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 20%;
      }
      .signup-card input[type="checkbox"] {
        margin-bottom: 10px;
      }
      .signup-card label {
        color: #999;
      }
      ul {
        font-weight: 100;
        padding-left: 1em;
        list-style-type: circle;
      }
      li + ul,
      ul + li,
      li + li {
        padding-top: 0.3em;
      }
      button {
        cursor: pointer;
      }
      button:disabled {
        background-color: #999;
        cursor: unset;
      }
      #flash {
        color: rgba(255, 68, 0, 0.808);
      }
    </style>
  </head>
  <body>
    <div class="signup-card">
      <h1><%= title %></h1>
      <!-- flash message -->
      <p id="flash"><%= flash %></p>
      <!-- form -->
      <form
        autocomplete="off"
        action="/interaction/<%= uid %>/signup"
        method="POST"
      >
        <input
          required
          id="username"
          type="text"
          name="username"
          placeholder="NEW USERNAME"
        />
        <input
          required
          id="displayName"
          type="text"
          name="displayName"
          placeholder="DISPLAY NAME"
        />
        <input
          required
          id="password"
          type="password"
          name="password"
          placeholder="PASSWORD"
        />
        <input
          required
          id="password2"
          type="password"
          name="password2"
          placeholder="CONFIRM PASSWORD"
        />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <button type="submit" id="signup-button" class="signup signup-submit">
          Sign-up
        </button>
      </form>

      <div class="signup-help">
        <a href="/interaction/<%= uid %>">[ Back to login page ]</a>
        <% if (client.tosUri) { %>
        <a href="<%= client.tosUri %>">[ Terms of Service ]</a>
        <% } %> <% if (client.policyUri) { %>
        <a href="<%= client.policyUri %>">[ Privacy Policy ]</a>
        <% } %>
      </div>
    </div>
    <script src="/scripts/signup.js"></script>
  </body>
</html>
